@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.myFont {
    font-family: "Azeret Mono", monospace;
    font-style: normal;
  }

  /* Nav Styles */
  .NavBar{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  .NavBar h1{
    color: rgb(13, 19, 33);
    font-size: 28px;
  }
  .resumeBtn button{
    display: inline-block;
    padding: 15px 15px;
    font-size: 16px;
    text-align: center;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 5px;
  }

  /* Banner Section Start */
  .topBanner{
   
    height: 652px;
    max-width: 1440px;
    margin: 0 auto;
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 74px;
    
    
    
  }
  .bannerContents{
    text-align: center;
  }
  .bannerContents img{
    padding-top: 26px;
  }
  .bannerHeader{
    padding-top: 32px;
    margin: 0 auto;
    max-width: 998px;
    font-size: 38px;
    font-weight: 800;
  }

  .bannerDescription{
    padding-top: 24px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    max-width: 852px;
    margin: 0 auto;
    line-height: 20pt;
    
  }
  .bannerBtn {
    padding-top: 32px;
  }

  .bannerBtn button{

    display: inline-block;
    padding: 21px 24px;
    font-size: 16px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 19, 33);
    border: 1px solid rgb(13, 19, 33);
    border-radius: 5px;
  }

  /* Why Web Development Section Start */
  .webDevelopmentJobDetails{
    max-width: 1140px;
    margin: 0 auto;
    background-color: rgba(13, 19, 33, 0.02);
    padding-top: 2rem;
    padding-bottom: 2rem;

  }
  .jobQuestionTitle{
    text-align: center;
    padding-bottom: 3rem;
  }

  /* Web Content */
  .website-Content{
    margin: 0 auto;
  }
  .codingAndChangingWorld{
    max-width: 946px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    
  }
  .codingAndChangingWorld-content{
    width: 50%;
  }
  .codingAndChangingWorld-title{
    border-radius: 5px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30pt;
  }
  .codingAndChangingWorld-description{
    padding-bottom: 2rem;
    line-height: 20pt;
  }
  .codingAndChangingWorld-btn{
    display: inline-block;
    padding: 12px 20px;
    font-size: 16px;
    text-align: center;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(13, 19, 33);
    color: rgb(13, 19, 33);
  }
  .modernWebSystem{
    flex-direction: row-reverse;
  }


  /* My Inspiration Start */
  .inspiration{
    margin: 0 auto;
    max-width: 1140px;
    height: 462px;
    margin-bottom: 111px;
    margin-top: 100px;
  }
  .inspiration-container{
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 88px;
  }
  .iframe-container{
    margin: 0 auto;
    width: 1140px;
    height: 614px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  /* My Current Target */
  .card-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .target-card{
    max-width: 28%;
    max-height: 299px;
    padding: 20px;
  }

  .target-text{
    color: rgb(13, 19, 33);
  }
  .card-1{
    border-radius: 16px;
    background-color:rgba(255, 76, 30, 0.05);
  }
  .card-2{
    border-radius: 16px;
    background-color: rgba(0, 76, 232, 0.05);
  }
  .card-3{
    border-radius: 16px;
    background-color: rgba(255, 223, 0, 0.05);
  }
  .learning-more{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
  }

  /* I need Support Start */

  .supportNeeded{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto ;
    max-width: 1140px;
    height: 313px;
    background-image: url("../assets/handshake.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: overlay;
    color: white;
  }
  .supportNeeded p{
    color: rgb(255, 255, 255);
  }
  .input-field{
    margin-top: 1.5rem;
  }
    .input-field input[type="text"]{
    

        width: 500px;
        padding: 15px 15px;
        font-size: 16px;
        border: 1px solid rgb(13, 19, 33);
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
    }
    .input-field input[type="submit"]{
    

        width: 120px;
        padding: 15px 15px;
        font-size: 16px;
        font-weight: 600;
        border: 1px solid rgb(13, 19, 33);
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
    }

    /* footer */
    footer{
        max-height: 108px;
        max-width: 1440px;
        margin: 0 auto;
        border-radius: 16px;
        background-color: rgba(13, 19, 33, 0.03);
    }
    .footer-info{
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1140px;
        margin-top: 5rem;

    }
    .footer-link a{
        text-decoration: none;
    }
