@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.myFont {
    font-family: "Azeret Mono", monospace;
    font-style: normal;
  }

  /* Nav Styles */
  .NavBar{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .NavBar h1{
    color: rgb(13, 19, 33);
    font-size: 28px;
  }
  .resumeBtn button{
    display: inline-block;
    padding: 15px 15px;
    font-size: 16px;
    text-align: center;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 5px;
  }

  /* Banner Section Start */
  .topBanner{
   
    height: 652px;
    max-width: 1440px;
    margin: 0 auto;
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 74px;
    
    
    
  }
  .bannerContents{
    text-align: center;
  }
  .bannerContents img{
    padding-top: 26px;
  }
  .bannerHeader{
    padding-top: 32px;
    margin: 0 auto;
    max-width: 998px;
    font-size: 38px;
    font-weight: 800;
  }

  .bannerDescription{
    padding-top: 24px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    max-width: 852px;
    margin: 0 auto;
    line-height: 20pt;
    
  }
  .bannerBtn {
    padding-top: 32px;
  }

  .bannerBtn button{

    display: inline-block;
    padding: 21px 24px;
    font-size: 16px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 19, 33);
    border: 1px solid rgb(13, 19, 33);
    border-radius: 5px;
  }

  /* Why Web Development Section Start */
  .webDevelopmentJobDetails{
    max-width: 1140px;
    margin: 0 auto;
    background-color: rgba(13, 19, 33, 0.02);
    padding-top: 2rem;
    padding-bottom: 2rem;

  }
  .jobQuestionTitle{
    text-align: center;
    padding-bottom: 3rem;
    /* margin: 20px 0px; */
  }

  /* Web Content */
  .website-Content{
    margin: 0 auto;
  }
  .codingAndChangingWorld{
    max-width: 946px;
    /* background-color: red; */
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 2rem;
    /* text-align: center; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
    background-color: rgb(255, 255, 255);
    
  }
  .codingAndChangingWorld-content{
    width: 50%;
  }
  .codingAndChangingWorld-title{
    color: rgba(13, 19, 33, 0.7);
    border-radius: 5px;
    font-size: 24px;
    font-weight: 700;
    /* padding-bottom: 1rem; */
    line-height: 30pt;
  }
  .codingAndChangingWorld-description{
    padding-bottom: 2rem;
    line-height: 20pt;
  }
  .codingAndChangingWorld-btn{
    display: inline-block;
    padding: 12px 20px;
    font-size: 16px;
    text-align: center;
    color: rgb(255, 255, 255);
    /* background-color: rgb(13, 19, 33); */
    border: 1px solid rgb(13, 19, 33);
    color: rgb(13, 19, 33);
    /* border-radius: 5px; */
  }
  .modernWebSystem{
    flex-direction: row-reverse;
  }